<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="HOME" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="RBI DATA" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos" href="#/tab/rbi">
    <ion-nav-view name="tab-rbi"></ion-nav-view>
  </ion-tab>

  <ion-tab title="BILLS" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/bills">
    <ion-nav-view name="tab-bills"></ion-nav-view>
  </ion-tab>

</ion-tabs>
